<% @title = 'Welcome' %>
<%if logged_in?%>
  <h2>You are logged in as <%= current_user.role if current_user.role %> <%= current_user.username %></h2>
<% else %>
  <p>New user? <%= link_to "Sign up now!", signup_path %></p>
<%end%>
