<% @title = 'All orders' %>
<% @order.each do |t| %>
  <div class="jumbotron">
    <h2>Orders N <%= t.id %></h2>
    <p><%= t.description %></p>
    <%= link_to "More details", order_path(t), :class => 'btn btn-outline-primary' %>
  </div>
  <hr>
<% end %>
