<% @order.each do |t| %>
  <div class="jumbotron">
    <h2><%= t.login %> (<%= t.phone %>)</h2>
    <%= link_to "More details", order_path(t), :class => 'btn btn-outline-primary' %>
  </div>
<% end %>